# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CitCatCot.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Madi\RiderProjects\CitCatCot\.idea\.idea.CitCatCot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
